.App {
  text-align: center;
  width: 100vw;
  display: flex;
  flex-direction: row;
}

.App-header,
.App-main {
  height: 100vh;
  display: flex;
  box-sizing: border-box;
  padding: 1em;
}

.App-header {
  background-color: #282c34;
  width: 380px;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-size: 1.25em;
  color: white;
}

.App-logo {
  width: 25vmin;
  max-width: 360px;
  pointer-events: none;
}
.App-title {
  transform: translateY(-2vh);
  text-shadow: 1px 1px 2px white;
}

.App-title span {
  font-weight: normal;
}

.App-link {
  color: #61dafb;
}

.App-footer {
  display: flex;
  flex-direction: row;
}

.App-footer * {
  margin: 0.25em;
}

.App-account-header {
  display: flex;
  justify-content: space-between;
  padding: 0 1em;
}

.App-account-totals {
  text-align: right;
}

.icon-on-hover {
  cursor: pointer;
}

.icon-on-hover .show-on-hover {
  display: inline-block;
  opacity: 0;
  position: absolute;
  transition: opacity 0.3s ease-in-out;
}

.icon-on-hover .show-on-hover svg {
  margin: auto 0.2em;
  padding: 0 0.2em;
}

.icon-on-hover:hover .show-on-hover {
  opacity: 1;
}

.App-edit-form {
  position: absolute;
  display: flex;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}